.history-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}
.history-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.time-details {
  color: #475569;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.website-img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 25px;
}
.history-title {
  color: #475569;
  font-size: 20px;
  font-weight: bold;
}
.history-domain-name {
  color: #64748b;
  font-size: 10px;
  padding-top: 20px;
  margin-left: 10px;
}

.delete-button {
  background-color: #f8fafc;
  border: none;
}
.delete-img {
  height: 20px;
  width: 20px;
}
