* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.history-container {
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
}

.history-header-container {
  display: flex;
  flex-direction: row;
  flex-direction: flex-start;
  background-color: #3367d6;
  padding: 8px;
}
.histrory-logo {
  height: 30px;
  width: 60px;
  margin-right: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-direction: flex-start;
  background-color: #2850a7;
}
.search-logo {
  height: 30px;
  width: 40px;
  padding: 7px;
  color: #ececec;
}
.input-ele {
  color: #ececec;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.No-history {
  color: #475569;
  align-self: center;
}
